# Core app settings
NODE_ENV=production
APP_PORT=4000
APP_LOG_PATH=/app/logs/app.log
APP_LOG_LEVEL=info

# Database settings
POSTGRES_DB=liot
POSTGRES_USER=liot
POSTGRES_PASSWORD=liot
DATABASE_URL=postgres://liot:liot@postgres:5432/liot

# MQTT settings
MQTT_URL=mqtt://localhost:1883
MQTT_EMBEDDED_BROKER=false
MQTT_PORT=1883

# Better Auth settings
BETTER_AUTH_URL=http://localhost:4000
BETTER_AUTH_SECRET=
